/******************************************* media queries *************************************/

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1030px) {
  nav .nav-bar .nav-links li {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}

@media (max-width: 964px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  nav .nav-bar .nav-links li {
    margin: 0;
    padding: 0;
  }
  .menu .nav-links {
    margin-left: -30px;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 280px;
    left: -110%;
    top: 0;
    padding: 20px;
    background-color: var(--nav-color);
    z-index: 100;
    transition: all 0.4s ease;
    color: var(--text-color);
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--search-textr);
    font-size: 24px;
    cursor: pointer;
  }
  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }
  .nav-links li a {
    display: block;
    /* margin-top: 20px; */
    font-size: 15px;
  }
  .nav-bar .nav-links {
    padding-left: 0px;
  }
  .dark-light {
    margin-right: -30px;
  }

  .container1,
  .container2 {
    width: 100%;
  }
}

/* ===============card======================== */

@media (max-width: 768px) {
  .main-card .cards .card,
  .main-card1 .cards .card1 {
    margin: 10px 0 0px 0;
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 500px) {
  .main-card .cards .card {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 20px auto;
    width: 100%;
  }
  .main-card1 .cards .card1 {
    margin: 20px auto;
    width: 100%;
  }
}

/* media queries  */

@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*===========================footer======================*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
